services:
  core_service: 
    build: 
      context: .
      dockerfile: ./Dockerfile.yml
    env_file: ".env"
   
    ports: 
      - "4000:4000"
    depends_on:
       db:
          condition: service_healthy
    networks:
      - tranquara-network

  db:
      image: postgres:16
      environment:
          POSTGRES_DB: tranquara_core
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Nhatdien123
      ports:
          - "5432"
      healthcheck:
        test: ["CMD-SHELL", "pg_isready", "-d", "tranquara_core"]
        interval: 10s
        timeout: 3s
        retries: 3
      volumes:
        - postgres-data:/var/lib/postgresql
      networks:
      - tranquara-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.6
    environment: 
    - KC_BOOTSTRAP_ADMIN_USERNAME=admin
    - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    - KC_HTTP_PORT=4200
    ports:
      - "4200:4200"
    command: "start-dev"
    networks:
      - tranquara-network
    volumes:
      - ./keycloak-data/data:/opt/keycloak/data
      - ./keycloak-data/conf:/opt/keycloak/conf
      - ./keycloak-data/themes:/opt/keycloak/themes
      - ./keycloak-data/providers:/opt/keycloak/providers
    depends_on:
      - db
  migrate:
      image: migrate/migrate
      volumes:
          - ./migrations:/migrations
      command: ["-path", "/migrations", "-database",  "postgres://postgres:Nhatdien123@db:5432/tranquara_core?sslmode=disable", "up"]
      links: 
          - db
      networks:
      - tranquara-network
      depends_on:
        - core_service
  adminer:
    image: adminer
    ports:
      - 8080:8080
    environment:
      ADMINER_DEFAULT_SERVER: db
    depends_on:
      - db
    networks:
      - tranquara-network


volumes:
  postgres-data:
networks:
  tranquara-network:
    external: true

